<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
        <title>Моё хобби АЙКИДО</title>
    </head>
<body>
    <div class="header-navbar">
        <img src="../static/3.jpg" alt="Логотип">
        <h1>Моё хобби АЙКИДО</h1>
                <nav class="navigator">
                    <a href="homepage.html">Главная</a>
                    <a href="#">Обо мне</a>
                    <a href="contacts.html">Обратная связь</a>
                </nav>
    </div>
        <h2>Я занимаюсь АЙКИДО!</h2>
        <hr>
        <img src="https://aikido-krasnogorsk.ru/images/stories/aikido/Aikidoki/01_Kovalev_Igor.jpg" alt="Моё фото">
        <p>Айкидо это не хобби - это скорее стиль жизни!</p>
        <p>
            Я занимаюсь АЙКИДО больше 10 лет. Как-то пришел на
            показательные выступления посвящённые Японским боевым
            искусствам. Там демонстрировали и айкидо, меня поразило с каким
            спокойствием и экономичностью в движениях выполнялись техники.
            Пошел на пробное занятие и остался.
        </p>
</body>
</html>
