<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
         <title>Моё хобби АЙКИДО</title>
    </head>
<body>
    <div class="header-navbar">
        <img src="../static/3.jpg" alt="Логотип">
        <h1>Моё хобби АЙКИДО</h1>
                <div class="navigator">
                    <a href="homepage.html">Главная</a>
                    <a href="about%20me.html">Обо мне</a>
                    <a href="#">Обратная связь</a>
                </div>
    </div>

        <h2>Додзё "КОСЕЙКАН":</h2>
        <hr>
        <img
                src="https://aikido-krasnogorsk.ru/images/stories/aikido/BJ_sm.png" alt="Сэнсэй">
            <p>Задать вопросы и узнать дополнительную информацию, вы можете:</p>
            <p>ВКонтакте:</p>
            <p>http://vk.com/ko_sei_kan<a href="http://vk.com/ko_sei_kan"><---></a></p>


            <p>Телеграм https://t
                .me/koseikan:<a href="https://t.me/koseikan"><---></a></p>


            <p>Яндекс. Дзен: https://zen.yandex.ru/id/611638b51cd32445702b00a9:<a href="https://zen.yandex.ru/id/611638b51cd32445702b00a9"><---></a></p>
            <p>По электронной почте: info@aikido-krasnogorsk.ru</p>
            <p>Приехать в Додзё за 20-30 минут до занятий пообщаться с сенсеем, учениками, посетить тренировку(с разрешения Сенсея).</p>
            <p>По телефону у инструктора группы.</p>
            <p>+7(926) 197-46-68</p>
            <p>+7(965) 350-12-33</p>

            <p>Телефоны в расписании занятий <a
                    href="http://www.aikido-krasnogorsk.ru/dodjo/raspisanie"><---></a></p>
            Расписание
            Адрес: Московская обл. г.Красногорск, ул. Советская ул., 14, ФОК Зенит.
</body>
</html>