<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
        <title>Моё хобби АЙКИДО</title>
    </head>
    <body>
       <div class="header-navbar">
            <img src="../static/3.jpg" alt="Логотип">
             <h1>Моё хобби АЙКИДО</h1>
                <nav class="navigator">
                    <a href="#">Главная</a>
                    <a href="about%20me.html">Обо мне</a>
                    <a href="contacts.html">Обратная связь</a>
                </nav>
       </div>
            <h2>Я занимаюсь АЙКИДО!</h2>
            <hr>
            <img
                    src="https://aikido-krasnogorsk.ru/images/stories/aikido/ueshiba_2.jpg" alt="Морихей Уэсиба'">
             <p>Айкидо это не хобби - это скорее стиль жизни!</p>
            <p>
                 Это искусство развивает не только физическое тело, оно
                развивает дух, волю. Учит находить выход из любых жизненных
                ситуаций. Принципы айкидо применимы и в обычной повседневной
                жизни.
                История современного айкидо может быть прослежена в прошлое до
                боевых искусств феодальной Японии IX века нашей эры. Как полагают,
                система боевых приёмов под названием "Айки" была первоначально
                разработана принцем Тэйдзином, шестым сыном императора Сэйва
                (850-880 гг.), и в дальнейшем на протяжении многих поколений
                передавалась членами семьи Минамото. Так через последовательность
                поколений эти техники были переданы Синра Сабуро Ёсимицу, младшему
                брату Ёсиие Минамото.
            </p>
            <p>
                Ёсимицу был человеком выдающихся талантов и мастерства. Говорят,
                что Ёсимицу придумал многие из своих приёмов, наблюдая за тем, как
                паук умело заматывал в свою паутину насекомых, намного превосходящих
                его по размерам. Своей системе айки-дзюцу Ёсимицу дал имя по названию
                своего дома – дворца Дайто, – Дайто Рю Айки-дзюдзюцу.
            </p>
            <p>
                Техники Дайто Рю хранились в секрете членами семьи и их ближайшим
                окружением, пока не были переданы Сокаку Такэда (1859-1943 гг.),
                который в дальнейшем сыграл ключевую роль в становлении современного
                айкидо. Система Дайто Рю, которая была передана предшественниками
                Сокаку Такэде, несомненно, отличалась от той системы, которую
                преподавали раньше. Точный перечень боевых искусств, которым
                обучался Такэда неизвестен, известно только, что он изучал кэндзюцу
                школы Оно-ха Итто Рю. Ряд исследователей пришли к выводу, что
                искусство Дайто Рю Сокаку Такэды является в большой степени синтезом
                его обширного практического опыта и традиций боевых искусств клана
                Аидзу с внесенными им инновациями (некоторые отечественные
                исследователи японских боевых искусств даже называли школу Такэды
                "новоделом").

            </p>
            <p>
                Одним из учеников Такэды был Морихэй Уэсиба, основатель современного
                айкидо. Уэсиба родился 14 декабря 1883 года, и стал заниматься у Такэды
                в 1915 году, после посещения десятидневного семинара, проводимого
                Такэдой. Он так был впечатлён техниками, демонстрируемыми Такэдой,
                что немедленно приступил к изучению Дайто Рю. Дополнительно Уэсиба
                изучал дзю-дзюцу школы Тэндзин Синъё Рю, кэндзюцу школы Ягю Синкагэ Рю,
                а также другие системы боя с оружием и без оружия. Уэсиба, глубоко
                религиозный человек, был последователем секты Омото-Кё (Омото)
                синтоизма.
            </p>
            <p>
                В 1931 году Уэсиба открыл додзё Кобукан ("Адское" додзё). В это время
                Уэсиба находился на пике своей физической формы. Одним из учеников
                его в то время был Годзо Сиода, который в дальнейшем основал Ёсинкан
                айкидо.
            </p>
            <p>
                В 1942 году Уэсиба переехал в селение Ивама, где он открыл додзё и
                основал святилище Айки. В 1945 году им была основана организация
                Айкикай, хотя все формы боевых искусств в Японии и были запрещены
                после окончания Второй Мировой войны. Главное додзё Айкикай было
                основано в Токио, хотя большую часть времени Уэсиба проводил в своём
                додзё в Иваме. В дальнейшем токийское додзё было передано под
                управление его сына Киссёмару (1921-1999 гг) и других выдающихся
                инструкторов, таких как Тохэй Коити, который в дальнейшем основал
                стиль Син Син Тоицу айкидо (более известное как Общество Ки айкидо).
            </p>
            <p>
                О-Сэнсэй Морихэй Уэсиба скончался 26 апреля 1969 года в возрасте
                86 лет. О-Сэнсэй Уэсиба оставил после себя наследство в виде техники
                боевых искусств и духовного учения, которые распространяются по всему миру.
            </p>
            <p>
                О-Сэнсэй Уэсиба продолжал учить до самой смерти в 1969 году, вызывая
                уважение и восхищение у всех, кто его встречал. Ученики, которых
                коснулась энергия и дух Морихэя Уэсибы, создали несколько стилей
                айкидо. Основатели этих стилей – верные последователи идей Мастера
                Уэсибы. Каждый из них развивал какие-то аспекты учения О-Сэнсэя,
                таким образом, каждый стиль, отличаясь от других, сохраняет общую основу.
            </p>
    </body>
</html>

